@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playwrite+IN+Guides&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playwrite+IN+Guides&display=swap');
@import "tailwindcss";

@theme{
  --font-body: 'DM Sans', sans-serif;
  --font-header: 'Bricolage Grotesque', sans-serif;
}
@layer base{
  body{
    background: linear-gradient(var(--color-slate-900), var(--color-slate-700));
    min-height: 100vh;
    font-family: var(--font-body);
    color: var(--color-slate-200);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1{
    font-family: var(--font-header);
    font-weight: 800;

  }
}